.choice-image {
    flex-basis: 20%;
}

.choice-text {
    padding-left: 1rem;
    font-weight: 600;
}

.choice-button {
    border: 4px solid #57EB54;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.05rem;
    margin: 0.5rem;
    cursor: pointer;
}

.skip-button {
    font-family: 'Inter';
    font-style: normal;
    text-decoration: none;
    font-weight: 600;
    font-size: 24px;
    line-height: 50px;
    text-align: right;
    display:block;
  
    color: rgba(0, 0, 0, 0.7);
  }

  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 8px; 
    background: #707070;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;

    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: rotate(0.25deg);
  }

  .slider::-webkit-slider-thumb, .slider::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    cursor: pointer;

    background: #FFFFFF;
    border: 4px solid #707070;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .text {
    font-weight: 700;
font-size: 22px;
  }

  .slider-points {
    display: flex;
    width: 100%;
    justify-content: space-between; 
    list-style: none;
    padding-left:0px;
  }

  .slider-points>li {
    text-align: center;
    font-weight: 500;
  }