.comparison-table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border-style: hidden; /* only inner borders will be shown */
  }
  
  .comparison-table td, .comparison-table th {
    border: 4px solid rgba(97, 99, 99, 0.1);
    filter: blur(0.5px);
  }
  
  .comparison-table th img {
    width: 25%;
    margin: auto;
    display: block;
    opacity: 0.6;
  }