
.comparison-table {
  text-align: left;
  width: 100%;
  border-collapse: collapse;
  border-style: hidden;
}

.comparison-image {
  height: 6rem;
  width: auto;
  margin: auto;
  display: block;
  opacity: 0.9;
  padding: 1.5rem;
}

td, th {
  width: 50%;
}

.comparison-table p {
  margin:0.3em 0px;
}

.comparison-table ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.comparison-table td, .comparison-table th {
  border: 4px solid rgba(97, 99, 99, 0.1);
  filter: blur(0.5px);
  vertical-align: top;
  
  padding-left:0.5rem;
  padding-top:0.5rem;
  padding-bottom: 0.3em;
}

/*

  
    padding-left:1rem;
    padding-top:1rem;
  }


  

  pre {
    line-height: 0.7rem;
  }

  */