.comparison-table {
    width: 100%;
    border-collapse: collapse;
    border-style: hidden; /* only inner borders will be shown */
  }
  
  .comparison-table td, .comparison-table th {
    border: 4px solid rgba(97, 99, 99, 0.1);
    filter: blur(0.5px);
    padding-left:1rem;
    padding-top:1rem;
  }

  .comparison-image {
    height: 6rem;
    width: auto;
    margin: auto;
    display: block;
    opacity: 0.9;
    padding: 1.5rem;
  }

  td, th {
    width: 50%;
  }

  pre {
    line-height: 0.7rem;
  }