.favs-star {
  float: right;
  display: inline;
  height: 3.25rem;
  transform: translate(0.6rem, 1rem);
  cursor: pointer;
}

.favs-count {
  font-weight: 700;
  font-size: 1.7rem;
  width: 1.7rem;
  height: 1.7rem;
  text-align: center;
  float: right;
  position: relative;
  transform: translate(3.8rem, 2.8rem);
  background-color: white;
  border-radius: 100%;
  color: black;
}