.favs {
  float: right;
  display: inline;
  cursor: pointer;
  height: 5rem;
}

.favs-star {
  height: 3.25rem;
  transform: translate(0.6rem, 1rem);
}

.favs-count {
  font-weight: 700;
  font-size: 1.7rem;
  width: 1.7rem;
  height: 1.7rem;
  text-align: center;
  float: right;
  position: relative;
  transform: translate(-0.93rem, 2.8rem);
  background-color: white;
  border-radius: 100%;
  color: black;
}

.favs:active {
  opacity: 0.7;
  transition: all 0.1s;
}

.favs-pop {
  animation-name: pop;
  animation-duration: 0.2s;
  animation-timing-function: cubic-bezier(0.38, 0.1, 0.36, 0.9);
}

@keyframes pop {
  from {transform: scale(1)}
  to {
    transform: scale(1.25);
    filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
    opacity: 0.95;
  }
}