@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
  background-image: url("../public/bg.png");
  background-position: center 45%;
  background-size: cover;
  font-family: 'Inter', sans-serif;
}

.app {
  min-height: 10rem;
  border-radius: 1.5rem;
  padding: 0.5rem 2rem;
  margin: auto;
  background-color: white;
  opacity: 0.9;
  backdrop-filter: blur(8px);
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  padding-bottom:2rem;
}

/* handling of mobile and ultra wide screens */

@media (max-aspect-ratio: 1/1) {
  .app {
    width: 85%;
    margin-top: 1.35rem;
  }
}

@media (min-aspect-ratio: 1/1) {
  .app {
    width: 50%;
    margin-top: 2.2rem;
  }
}

@media (min-aspect-ratio: 1.5/1) {
  .app {
    width: 45%;
    margin-top: 2.2rem;
  }
}


@media (min-aspect-ratio: 2/1) {
  .app {
    width: 40%;
    margin-top: 2.2rem;
  }
}

.app-title {
  margin: 0px;
  font-size: 2.2rem;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}

.app-title-icon {
  display: inline;
  height: 3.5rem;
  transform: translate(0.8rem, 1rem);
}